/* 搜索框 */
.tools {
    position: fixed;
    right: 20px;
    top: 84px;
    display: flex;
    flex-direction: column;
    width: 250px;
}
.search {
    display: flex;
    z-index: 1;
}
.search input {
    width: 200px;
    border: 1px solid #ccc;
    height: 28px;
    outline: none;
    box-sizing: border-box;
}
.search i {
    margin-top: -2px;
    margin-left: 8px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-color: #3f51b5;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: 200ms ease-in-out;
}
.search i:hover {
    background-color: #5269eb;
    transform: scale(1.2);
}
.btn-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.btn-list button {
    margin-top: 20px;
    width: 110px;
    height: 30px;
    line-height: 30px;
}
